<!DOCTYPE html>
<layout:html xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif" th:text="${add} ? 'Добавить услугу' : 'Редактировать услугу'">
                    <span class="iconify"
                          data-inline="false"
                          data-icon="gridicons:list-ordered"
                          style="color: #2b3b55;font-size: 50px; margin-right: 30px"></span>
                        Добавить новую услугу</h3>
                </div>
            </div>
        </div>
        <form action="#" th:action="${add} ? '/category/create/'+${packageId} : '/category/update/' + ${category.id}" method="post">
            <div class="form-group">
                <label for="packageNameInput">Название услуги</label>
                <input th:value="${add} ? '' : ${category.title}" type="text" name="title" class="form-control" id="packageNameInput" placeholder="Введите название" minlength="2" maxlength="50" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</layout:html>