<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif; color: #2b3b55">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="ic:baseline-work"
                              style="color: #2b3b55;font-size: 50px; margin-right: 30px">
                        </span>
                        Список заказов
                    </h3>
                </div>

                <div class="col-lg-1">
                    <button type="button" class="btn btn-link">
                        <span class="iconify" data-inline="false"
                              data-icon="si-glyph:basket-plus"
                              style="color: #2b3b55;font-size: 40px;"></span>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="accordion md-accordion" th:id="'accordionEx'+${order.id}" role="tablist"
                 aria-multiselectable="true"
                 th:each="order : ${orderList}">
                <div class="card card_acc">
                    <div style="outline:2px solid #2b3b55; background: #FFFFFF" class="card-header c-h" role="tab"
                         th:id="'headingOne'+${order.id}">
                        <div class="row">
                            <div class="col-lg-11">
                                <h5 class="mb-0" style="color: #2b3b55;font-family: 'Gilroy Light'"
                                    th:text="${order.title}">
                                </h5>
                            </div>
                            <div class="col-lg-1">
                                <div class="row">
                                    <a data-toggle="collapse" th:attr="data-parent='#accordionEx'+${order.id}"
                                       th:href="'#collapseOne'+${order.id}"
                                       aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <span class="iconify centered" data-inline="false"
                                              data-icon="dashicons:arrow-down-alt2"
                                              style="color: #2b3b55; font-size:25px; margin-top: -10px"></span></a>
                                    <button type="button" style="color: white;"
                                            class="btn btn-link" data-toggle="modal"
                                            th:attr="data-target='#recordDeleteModal'+${order.id}">
                                    <span class="iconify" data-inline="false"
                                          data-icon="ant-design:delete-filled"
                                          style="color: #2b3b55;font-size:25px;"></span>
                                    </button>
                                    <div data-backdrop="false" class="modal fade"
                                         th:attr="id='recordDeleteModal'+${order.id}" tabindex="-1" role="dialog"
                                         aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="recordDeleteModalLabel">
                                                        Удаление пакета</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <label>Вы действительно хотите удалить?</label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Нет
                                                    </button>
                                                    <form th:action="@{/order/delete/{id}(id = ${order.id})}"
                                                          method="post">
                                                        <button type="submit" class="btn btn-info m-t-10">Да</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:id="'collapseOne'+${order.id}" class="collapse show" role="tabpanel"
                         th:attr="data-parent='#accordionEx'+${order.id}"
                         aria-labelledby="headingOne1">
                        <div class="card-body c-b">
                            <div class="card-deck">
                                <div class="card card_acc1">
                                    <h5 class="card-title" th:text="${order.title}">Название </h5>
                                </div>
                                <div class="card card_acc1">
                                    <h5 class="card-title" th:text="${order.clientId}">Описание</h5>
                                </div>
                                <div class="card card_acc1">
                                    <h5 class="card-title" th:text="${order.managerId}">Описание</h5>
                                </div>
                                <div class="card card_acc1">
                                    <h5 class="card-title" th:text="${order.packageId}">Описание</h5>
                                </div>
                                <div class="card card_acc1">
                                    <h5 class="card-title" th:text="${order.createdDate}">Описание</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="container con3">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${orderList.hasPrevious()}">
                    <a class="page-link" th:href="@{/order/list(page=${orderList.number -1})}"> < </a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, orderList.totalPages - 1)}">
                    <li class="page-item active" th:if="${orderList.number == i}">
                        <a th:href="@{/order/list(page=${i})}" class="page-link ">[[${i}+1]]</a>
                    </li>
                    <li class="page-item" th:unless="${orderList.number == i}">

                        <a th:href="@{/order/list(page=${i})}" class="page-link">[[${i}+1]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${orderList.hasNext()}">
                    <a class="page-link" th:href="@{/order/list(page=${orderList.number+1})}"> > </a>
                </li>
            </ul>
        </div>
    </div>
</layout:html>