<!DOCTYPE html>
<layout:html xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif">
                    <span class="iconify"
                          data-inline="false"
                          data-icon="gridicons:list-ordered"
                          style="color: #2b3b55;font-size: 50px; margin-right: 30px"></span>
                        Добавить новую задачу</h3>
                </div>
            </div>
        </div>
        <form action="#" th:action="${add} ? '/task/create/' : '/task/update/' + ${task.id}" method="post">
            <div class="form-group">
                <label for="taskNameInput">Название задачи</label>
                <input th:value="${add} ? '' : ${task.title}" type="text" name="title" class="form-control" id="taskNameInput" placeholder="Введите название" minlength="5" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="taskDescInput">Описание задачи</label>
                <input th:value="${add} ? '' : ${task.description}" type="text" name="description" class="form-control" id="taskDescInput" placeholder="Введите описание" minlength="5" maxlength="500" required>
            </div>
            <div th:if="${!add}" class="form-group">
                <label class="text-danger font-bold" for="input-select">Статус задачи</label>
                <select name="taskStatus" class="form-control" id="input-select" >
                    <option value="TODO">ВЫПОЛНИТЬ</option>
                    <option value="INPROGRESS">ВЫПОЛНЯЕТСЯ</option>
                    <option value="DONE">ВЫПОЛНЕНО</option>
                </select>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="taskImgInput">Изображение задачи</label>-->
<!--                <input th:value="${add} ? '' : ${task.image}" type="text" name="image" class="form-control" id="taskImgInput" placeholder="Введите фото" minlength="50" maxlength="500" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="taskCategInput">Категория задачи</label>-->
<!--                <input th:value="${add} ? '' : ${task.categoryId.getId()}" type="text" name="category" class="form-control" id="taskCategInput" placeholder="Введите описание" minlength="50" maxlength="500" required>-->
<!--            </div>-->

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</layout:html>