<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <main>
            <section id="1">
                <div class="container con2">
                    <ul class="breadcrumb">
                        <li><a href="#">Все</a></li>
                        <li><a href="#">В процессе</a></li>
                        <li><a href="#">Выполненные</a></li>
                    </ul>
                </div>
            </section>
            <section id="2">
                <div class="container">
                    <div class="card-deck c1">
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>

                        </div>


                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>


            </section>

            <br>
            <section id="3">
                <div class="container">
                    <div class="card-deck">
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>

                        </div>


                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange; "></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange;"></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                        <div class="card card1">
                            <div class="view overlay photo text-center">
                                <img class="card-img-top" src="img/social%20media%20management.jfif"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Введение социальных сетей</h5>
                                <p class="card-text">- продвижение</p><br>
                                <p class="centered">Статус:
                                    <button type="button" class="btn btn-link"><span class="iconify" data-inline="false"
                                                                                     data-icon="uil:process"
                                                                                     style="font-size: 25px;color: darkorange; "></span>
                                    </button>
                                </p>
                            </div>
                            <p class="centered">
                                <button type="button" class="btn btn-link"><span class="iconify i1" data-inline="false"
                                                                                 data-icon="simple-line-icons:like"
                                                                                 style="color: #2b3b55;font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i2" data-inline="false"
                                                                                 data-icon="simple-line-icons:dislike"
                                                                                 style="color: #2b3b55; font-size: 22px;"></span>
                                </button>
                                <button type="button" class="btn btn-link"><span class="iconify i3" data-inline="false"
                                                                                 data-icon="uil:comment"
                                                                                 style="color: #2b3b55; font-size: 22px;"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>


            </section>
            <br>
            <br>
            <section id="4">
                <div class="container con3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a href="#" class="page-link"><</a></li>
                        <li class="page-item active"><a href="#" class="page-link ">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">></a></li>
                    </ul>
                </div>
            </section>
        </main>

        </body>
<!--        <footer class="page-footer ">-->
<!--            &lt;!&ndash; Copyright &ndash;&gt;-->
<!--            <div class="footer-copyright text-center py-3" style="font-size: 20px">© 2020 Copyright-->
<!--            </div>-->
<!--            &lt;!&ndash; Copyright &ndash;&gt;-->
<!--        </footer>-->

    </div>
</layout:html>