@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

html {
    scroll-behavior: smooth;
}

.login-page {
    width: 500px;
    padding: 5% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 30px 0 rgba(43, 59, 85, 0.37), 0 10px 10px 0 rgba(43, 59, 85, 0.37);
}

.form input {
    font-family: "Gilroy Light", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 25px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    outline: 2px solid #2B3B55;
}

.form button {
    font-family: "Gilroy Light", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2B3B55;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #2B3B55;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
}



.form .message a {
    color: #2B3B55;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #FFFFFF;
    text-decoration: none;
}


.body {
    background: #CDD3DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #CDD3DC, #CDD3DC);
    background: -moz-linear-gradient(right, #CDD3DC, #CDD3DC);
    background: -o-linear-gradient(right, #CDD3DC, #CDD3DC);
    background: linear-gradient(to left, #CDD3DC, #CDD3DC);
    font-family: "Gilroy Light", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img_gsg {
    margin-bottom: 20px;;
    width: 100%;
}

.img_gsg1 {

    width: 10%;
}

.name {
    position: absolute;
    font-family: "Gilroy Light";
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #2B3B55;
}

.navbar, .page-footer {
    color: #2b3b55;
    background-color: #CDD3DC;
}

.n1 {
    padding-right: 50px;
}

.n2 {
    color: #2b3b55;
    font-family: "Gilroy Light";
    font-size: 20px;
    padding-right: 100px;
}

.con2 {
    margin: 8%;
}

.a {
    color: #2b3b55;
    font-size: 20px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
    font-family: "Gilroy Light", sans-serif;
    display: inline;
    font-size: 23px;
    text-shadow: 4px 4px 4px rgba(43, 59, 85, 0.37);
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    font-family: "Gilroy Light", sans-serif;
    padding: 8px;
    color: #2b3b55;
    content: "/\00a0";
    text-shadow: 4px 4px 4px rgba(43, 59, 85, 0.37);
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    font-family: "Gilroy Light", sans-serif;
    color: #2b3b55;
    text-decoration: none;
    text-shadow: 4px 4px 4px rgba(43, 59, 85, 0.37);
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    font-family: "Gilroy Light", sans-serif;
    color: #2b3b55;
    text-decoration: underline;
    text-shadow: 4px 4px 4px rgba(43, 59, 85, 0.37);
}

.card1 {
    font-family: "Gilroy Light";
    outline: 1px solid #2b3b55;
    box-sizing: border-box;
    box-shadow: 0 0 30px 0 rgba(43, 59, 85, 0.37), 0 10px 10px 0 rgba(43, 59, 85, 0.37);
}

.photo img {

    width: 60%;
}

.centered {
    font-family: "Gilroy Light";
    font-size: 20px;
    text-align: center;
}

.centered1 {
    font-family: "Gilroy Light";
    font-size: 28px;
    text-align: center;
}

.c1 {
    margin-top: -100px;
}

.page-item {
    font-family: "Gilroy Light";
    font-weight: 600;
    font-size: 20px;
}

.page-item a {
    color: #2b3b55;
}

.pagination .active:hover {
    background: #35373a;
}

.con3 {
    margin-bottom: 100px;
}

#viewport {
    padding-left: 400px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 350px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #CDD3DC;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    font-family: "Gilroy Light";
    background-color: #CDD3DC;
    font-size: 20px;
    text-align: center;
}

#sidebar header a {
    font-family: "Gilroy Light";
    color: #2b3b55;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #2b3b55;
}


#sidebar .nav a {
    font-family: "Gilroy Light";
    background: none;
    color: #2b3b55;
    font-size: 20px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    font-family: "Gilroy Light";
    background: none;
    color: #2b3b55;
}

#sidebar .nav a i {
    font-family: "Gilroy Light";
    margin-right: 16px;
}

.nav1 li {
    margin-bottom: 40px;
}

.c-d p {
    font-family: "Gilroy ExtraBold";
    text-shadow: 4px 4px 4px rgba(85, 43, 43, 0.37);
    color: red;
    text-align: center;
    font-size: 30px;
}

.c-d h4 {
    color: #2b3b55;
    font-size: 22px;
}

.c-d {
    width: 100%;
}

.hr {
    outline: 1px solid #2b3b55;
}

.card_acc {
    width: 100%;
    font-size: 20px;
    outline: 2px solid #2B3B55;
    box-sizing: border-box;
}

.card_acc1 {
    outline: 1px solid #2B3B55;
    box-sizing: border-box;
    height: 2rem;
}

.card_acc1 h5 {
    margin-top: 5px;
    color: #2b3b55;
    font-family: "Gilroy Light";
    font-size: 18px;
}

.c-b {
    height: 4rem;
}

.c-h {
    height: 3rem;
}

.masthead {
    font-family: "Gilroy ExtraBold";;
    background: rgba(205, 211, 220, 0.52);
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.img_icon {
    width: 50%;
    margin: 20px;
}

.head {

    font-family: "Gilroy Light";
    text-align: center;
    color: #2b3b55;
    border-bottom: 1px solid #2b3b55;
    border-top: 1px solid #2b3b55;
    padding: 15px;
}


.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.vl {
    border-left: 1px solid #2B3B55;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

.contact {
    font-family: "Gilroy Light";
    color: #2b3b55;
    font-size: 20px;
    padding: 10px;
}

a.btn-social,
.btn-social {
    font-size: 20px;
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    line-height: 70px;
    margin-left: 50px;
    margin-top: 90px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 70px;
}


.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-instagram {
    background-color: #3f729b;
}

.btn-instagram:hover {
    background-color: #548cb9;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: #83c3f3;
}

.c-d1 {
    height: 400px;
}
















/* CUSTOM STYLES************************************************************** */

body{
    margin-top:20px;
    background:#FDFDFF
}
.badge {
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .7142em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: .875rem;
}
.bg-green {
    background-color: #50d38a !important;
    color: #fff;
}
.bg-blush {
    background-color: #ff758e !important;
    color: #fff;
}
.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}
.bg-red {
    background-color: #ec3b57 !important;
    color: #fff;
}
.bg-blue {
    background-color: #60bafd !important;
    color: #fff;
}
.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .0rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.inbox .action_bar .delete_all {
    margin-bottom: 0;
    margin-top: 8px
}

.inbox .action_bar .btn,
.inbox .action_bar .search {
    margin: 0
}

.inbox .mail_list .list-group-item {
    border: 0;
    padding: 15px;
    margin-bottom: 1px
}

.inbox .mail_list .list-group-item:hover {
    background: #eceeef
}

.inbox .mail_list .list-group-item .media {
    margin: 0;
    width: 100%
}

.inbox .mail_list .list-group-item .controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    margin-top: 11px
}

.inbox .mail_list .list-group-item .controls .checkbox {
    display: inline-block
}

.inbox .mail_list .list-group-item .controls .checkbox label {
    margin: 0;
    padding: 10px
}

.inbox .mail_list .list-group-item .controls .favourite {
    margin-left: 10px
}

.inbox .mail_list .list-group-item .thumb {
    display: inline-block
}

.inbox .mail_list .list-group-item .thumb img {
    width: 40px
}

.inbox .mail_list .list-group-item .media-heading a {
    color: #555;
    font-weight: normal
}

.inbox .mail_list .list-group-item .media-heading a:hover,
.inbox .mail_list .list-group-item .media-heading a:focus {
    text-decoration: none
}

.inbox .mail_list .list-group-item .media-heading time {
    font-size: 13px;
    margin-right: 10px
}

.inbox .mail_list .list-group-item .media-heading .badge {
    margin-bottom: 0;
    border-radius: 50px;
    font-weight: normal
}

.inbox .mail_list .list-group-item .msg {
    margin-bottom: 0px
}

.inbox .mail_list .unread {
    border-left: 2px solid
}

.inbox .mail_list .unread .media-heading a {
    color: #333;
    font-weight: 700
}

.inbox .btn-group {
    box-shadow: none
}

.inbox .bg-gray {
    background: #e6e6e6
}

@media only screen and (max-width: 767px) {
    .inbox .mail_list .list-group-item .controls {
        margin-top: 3px
    }
}
/* end theme */
